.cont{
    padding-inline: 20%; 
    padding-top: 50px;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}
.cont .form-control{
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
}