*{
    margin: 0;
    padding: 0;
}

.todo{
    size: unset;
    background-image: url("../../../../assets/img/luzes1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(253, 253, 253);
}


.princi{
    
    /*background-color: rgb(131, 131, 131);*/
    
    text-align: center;
    
}

.image{
    
    
    width:100%;
    height: 100%;
    border-radius: 150px;
    border:10px solid rgb(145, 253, 154);

}

.nom{
    
    font-size: 300%;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}


.pariz{
 float:left;
 width: 30%;
 
}
.parde{
 float:left;
 width: 70%;
 
 font-size: 200%;
}
.parde b{
    margin: 10px;
    background-color: rgba(20, 20, 20, 0.5) ;
    
}
.pie{
    clear:both;
    padding:10px;
    
}
.td{
    color: aliceblue;
    background-color: rgba(20, 20, 20, 0.5) ;
}
.labeleditor{
    align-items: center;
    font-size: 140%;
    color: aliceblue;
    background-color: rgba(20, 20, 20, 0.5) ;  
}
.editor .form-control{
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}
.editor .camposedit{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
}

.editor{
    
    padding-left: 14%;
    padding-right: 14%;
}

.botones{
    text-align: center;
}
.imageanu{
    width:100%;
    height: 100%;
    border-radius: 150px;
    border:10px solid rgb(145, 253, 154);

}
.table{
    
    padding-left: 14%;
    padding-right: 14%;
}
