<div style="text-align: center;">
    <br>
    <h1>Preguntas frecuentes</h1>
    <br>
    <div id="accordion">
        <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 style="color: black;">¿Como me registro?</h2>
            </button>
            </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
            Haz click sobre el "Registro" arriba a la derecha.<br><br>
            <img src="../../../assets/img/registrofoto.JPG" style="width: 300px;">
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h2 style="color: black;">¿Como inicio sesión?</h2>
            </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
            Para iniciar sesion tras <b>haberte registrado previamente</b> deberás hacer click sobre "Login" arriba a la derecha.<br><br>
            <img src="../../../assets/img/loginfoto.JPG">
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <h2 style="color: black;">¿Como cerrar sesión?</h2>
            </button>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
            Para cerrar sesion deberas hacher click sobre el icono  <i class="fas fa-sign-out-alt"></i>  ubicado arriba a la derecha.<br><br>
            <img src="../../../assets/img/cierrasesionfoto.JPG">
            </div>
        </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading4">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <h2 style="color: black;"> ¿Como añado/modifico mi foto de perfil?</h2>
                </button>
                </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                    <ol>
                        <li>
                            Para añadir/modificar tu foto de perfil deberas acceder a tu perfil mediante el icono <i class="fas fa-user"></i> ubicado arriba a la derecha.<br><br>
                            <img src="../../../assets/img/editaperfil1foto.JPG">
                        </li>
                        <li>
                            Dentro de su perfil, haga click sobre el icono <i class="fas fa-edit"></i> ubicado al final de la informacion de su perfil.<br><br>
                            <img src="../../../assets/img/editaperfil2foto.JPG">

                        </li>
                        <li>
                            Ahora haga click sobre el boton "Browse" y elija la foto que dese tener como foto de perfil, luego haga click sobre el boton "Subir imagen" y por ultimo sobre el boton "Guardar cambios".<br><br>
                            <img src="../../../assets/img/editaperfil3foto.JPG" style="width: 100%;">
                        </li>
                      </ol>
                      
                </div>
            </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        <h2 style="color: black;"> ¿Como elimino mi cuenta?</h2>
                    </button>
                    </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        <ol>
                        <li>
                            Para <b>eliminar tu cuenta permanentemente</b> deberas acceder a tu perfil mediante el icono <i class="fas fa-user"></i> ubicado arriba a la derecha.<br><br>
                            <img src="../../../assets/img/editaperfil1foto.JPG">
                        </li>
                        <li>
                            Dentro de su perfil, haga click sobre el icono <i class="fas fa-user-slash"></i> ubicado al final de la informacion de su perfil.<br><br>
                            <img src="../../../assets/img/eliminaperfilfoto.JPG">

                        </li>
                        <li>
                            Por ultimo debera introducir el email con el que se registro y haga click sobre el boton "Eliminar".<br><br>
                            <img src="../../../assets/img/eliminaperfil2foto.JPG" style="width: 100%;">
                        </li>
                      </ol>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading6">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            <h2 style="color: black;">¿Como publicar anuncios?</h2>
                        </button>
                        </h5>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                        <div class="card-body">
                            <ol>
                            <li>
                                Para publicar anuncios debe tener <b>una sesion iniciada</b>, entonces haga click sobre el icono <i class="fas fa-plus-square"></i> arriba a la derecha.<br><br>
                                <img src="../../../assets/img/creaanunciofoto.JPG">
                            </li>
                            <li>
                                Por ultimo rellene los campos y haga click sobre e boton "Anunciar".<br><br>
                                <img src="../../../assets/img/creaanuncio2foto.JPG">
    
                            </li>
                            
                          </ol>
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading7">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                <h2 style="color: black;">¿Como editar mis anuncios?</h2>
                            </button>
                            </h5>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                            <div class="card-body">
                                <ol>
                                <li>
                                    Primero debes acceder a tu perfil por medio del icono <i class="fas fa-user"></i>.<br><br>
                                    <img src="../../../assets/img/editaperfil1foto.JPG">
                                </li>
                                <li>
                                    En la parte inferior del perfil se encuentra el panel de gestión de anuncios.<br><br>
                                    <img src="../../../assets/img/foteditanu.JPG">
        
                                </li>
                                <li>
                                    Haga click sobre el anuncio que desee modificar y los datos de dicho anuncio se mostraran en el editor.<br><br>
                                    <img src="../../../assets/img/foteditanu2.JPG">
        
                                </li>
                                <li>
                                    Por ultimo, tras haber realizado los cambios sobre el anuncio solo falta clicar sobre el icono <i class="fas fa-edit"></i> para guardar los cambios.<br><br>
                                    <img src="../../../assets/img/foteditanu3.JPG">
        
                                </li>
                                
                              </ol>
                            </div>
                        </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading8">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    <h2 style="color: black;">¿Como eliminar mis anuncios?</h2>
                                </button>
                                </h5>
                            </div>
                            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                                <div class="card-body">
                                    <ol>
                                    <li>
                                        Primero debes acceder a tu perfil por medio del icono <i class="fas fa-user"></i>.<br><br>
                                        <img src="../../../assets/img/editaperfil1foto.JPG">
                                    </li>
                                    <li>
                                        En la parte inferior del perfil se encuentra el panel de gestión de anuncios.<br><br>
                                        <img src="../../../assets/img/foteditanu.JPG">
            
                                    </li>
                                    <li>
                                        Haga click sobre el anuncio que desee eliminar y los datos de dicho anuncio se mostraran en el editor.<br><br>
                                        <img src="../../../assets/img/foteditanu2.JPG">
            
                                    </li>
                                    <li>
                                        Por ultimo, solo falta clicar sobre el icono <i class="fas fa-trash"></i> para eliminar el anuncio selecionado.<br><br>
                                        <img src="../../../assets/img/fotelimanu.JPG">
            
                                    </li>
                                    
                                  </ol>
                                </div>
                            </div>
                            </div>
    </div>
    </div>