<div class="alert alert-danger" role="alert" *ngIf='mensaje'>
    <strong>{{mensaje}}</strong>
</div>
<div class="cont">
    <form [formGroup]="formAnunciar" (submit)="submit()"> 
        <label for="titulo">Titulo:</label>
        <input class="form-control" type="text" placeholder="Titulo" id="titulo" formControlName="titulo">
        <br>
        <label for="texto">Texto:</label>
        <textarea  class="form-control" type="text" placeholder="Descripcion del articulo..." id="texto" formControlName="texto" style="height: 200px;"></textarea>
        
        <br>
        <label for="precio">Precio:</label>
        <input class="form-control" type="text" placeholder="Precio(€)" id="precio" formControlName="precio">
        <br>
        
          <br>
          <div>
            <label for="categoria">Categoría:</label><br>
            <select class="categoria" id="categoria" formControlName="categoria">
              <option value="Otros" selected>Otros</option>
              <option value="Alimentacion">Alimentación</option>
              <option value="Electronica">Electrónica</option>
              <option value="Decoracion">Decoración</option>
              <option value="Vehiculo">Vehículo</option>
            </select>
        </div>
        <hr>
        
        
        
        <button class="btn btn-primary btn-block" type ="submit">Anunciar</button>
        <br>
      </form>
  </div>
  